.custom-carousel {

    --carousel-height: 150px;

    &-wrapper {
        max-height: var(--carousel-height);
        position: relative;
        overflow: hidden;

        &::before {
            @include easeOut;
            content: "";
            display: block;
            position: absolute;
            background: radial-gradient(ellipse farthest-corner, rgba(black, 0), rgba(black, 0) 10%, rgba(black, 1) 200%, rgba(black, 0));
            width: calc(100% - 30px);
            height: 100%;
            opacity: 0;
            pointer-events: none;
            z-index: 2;
        }
    
        &:hover {
            &::before {
                opacity: 0.8;
            }
        }
    }

    &-container {
        overflow: hidden;
    }
    
    &-list {
        overflow: hidden;
        height: var(--carousel-height);
        white-space: nowrap;
        scroll-behavior: smooth;

        margin: 0;
        padding: 0;

        &-item {
            display: inline-block;
            list-style: outside none none;
            position: relative;
            vertical-align: top;
        }
    }

    &-item {
        display: inline-block;
        overflow: hidden;
        position: relative;
        min-height: var(--carousel-height);

        img {
            @include easeOut;
            max-height: var(--carousel-height);
            transform: scale(1);
        }

        &-info {
            @include easeOut;
            display: flex;
            flex-direction: column;
            justify-content: end;

            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 0.5rem;
            
            @include gradientBg(to top, black, rgba(black, 0));

            transform: translateY(200px);

            pointer-events: none;

            white-space: normal;

            p {
                position: relative;
                color: white;
                z-index: 2;
                margin: 0;
            }
        }

        &:hover {
            > .custom-carousel-item {
                
                &-info {
                    transform: translateY(0);
                }
            }

            img {
                transform: scale(1.3);
            }
        }
    }

    &-arrow {
        &-prev {
            img {
                transform: rotateY(180deg);
            }
        }

        &.active {
            @include easeOut;
            cursor: pointer;
        }
    }
}