@import url('https://fonts.googleapis.com/css?family=Cantarell&display=swap');

$logo-width: 3rem;

* {
    padding: 0;
    margin: 0;

    --card-color-1: 223, 41, 53;
    --card-color-2: 55, 114, 255;
    --card-color-3: 55, 255, 139;
    --card-color-4: 202, 31, 123;
    --card-color-5: 253, 202, 64;
}

body {
    background: rgba($primary, 1);
    color: white;
    position: relative;
    overflow-x: hidden;
}

section {
    padding: 3rem 0;
}

p, h2, h6 {
    margin: 0;
}

.logo {
    a {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        font-size: 2.5rem;
        font-weight: 700;
        
        text-decoration: none;
        color: white;

        overflow: hidden;

        font-family: 'Cantarell', sans-serif !important;

        img {
            max-width: $logo-width;
        }
    }
}

.sticker {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.weekday, .bold {
    font-weight: 700;
}

.alt-text {
    color: darkgrey;
}

.upper {
    text-transform: uppercase;
}

.fa-facebook-f {
    color: #3894fc;
}

.fa-twitter {
    color: #00ccff;
}

.fa-instagram {
    color: #c23c8d;
}

.unloaded {
    &::before {
        display: block;
        content: '';
        padding-top: calc(100% * 2 / 3);

        background-color: RGB(var(--card-color-2));
    }
}

.hide-txt {
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin easeOut($time: 0.3s) {
    transition: all $time ease-out;
}

@mixin gradientBg($direction, $border-color-1, $border-color-2) {
    @include easeOut();
    background-image: linear-gradient($direction, $border-color-1, $border-color-2 90%);
    background-position: bottom;
    background-repeat: no-repeat;
}

@mixin imgCover($fixed-width: 100%, $fixed-height: 100%) {
    width: $fixed-width;
    height: $fixed-height;
    object-fit: cover;
}
