@import '_custom';
@import '_config';
@import '_navigation';
@import '_carousel';


.tag {
    @include easeOut;
    // margin-left: 0.5rem;
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    font-weight: 600;

    color: white;
    background: black;
    border-radius: 10%;
    text-decoration: none;

    &:hover {
        color: rgba($color: white, $alpha: 0.5);
        text-decoration: none;
    }
}

.flex-margin-right {
    display: flex;
    flex-direction: row;
    
    a, div {
        margin-right: 0.5rem;
    }
}

.daily-feed {

    &-container {
        padding: 10px;
    }

    &-item {
        $card-height: 6px;
        --card-color: 0, 0, 0;

        @for $x from 1 through 5 {
            &.card-color-#{$x} {
                --card-color: var(--card-color-#{$x});
            }
        }

        display: flex;
        flex-direction: column;
        
        box-sizing: border-box;
        position: relative;
        overflow: hidden;

        padding: 0;
        margin: 0;

        background-clip: padding-box;
        border: 0.5rem solid transparent;

        img {
            @include easeOut;
            @include imgCover(100%, 300px);
        }

        &-content {
            position: relative;
            overflow: hidden;
        }

        &-info {
            @include easeOut;

            display: flex;
            flex-direction: column;
            justify-content: end;

            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 2rem 1rem 1rem 1rem;

            @include gradientBg(to top, RGBA(var(--card-color), 1), RGBA(var(--card-color), 0));

            h4 {
                color: white;
                font-weight: 600;
            }

            p {
                margin: 0;
            }

            &-desc {
                transition: max-height 0.3s ease-out;
                max-height: 0;

                visibility: hidden;
                color: white;
            }

            &-date {
                color: grey;
            }
        }

        &-card {
            width: 100%;
            height: $card-height;

            background: RGB(var(--card-color));

            @for $x from 1 through 4 {
                &-#{$x} {
                    width: calc(100% - ((#{$x} - 1) * 10px));
                    z-index: calc(4 - #{$x});
                    opacity: calc(1 - (#{$x} * 0.15));
                    box-shadow: 1px 1px rgba(black, calc(#{$x} * 0.15));
                }
            }
        }

        &:hover {
            .daily-feed-item {
                &-info {
                    &-desc {
                        max-height: 90px;
                        visibility: visible;
                    }
                }
            }

            img {
                transform: scale(1.2);
            }
        }
    }
}

.trending {
    .custom-carousel {
        &-arrow {
            position: absolute;
            z-index: 100;
            height: 100%;
            padding: 0.5rem;
            
            display: none;
            align-items: center;

            opacity: 0;
    
            img {
                width: 50px;
            }
    
            &-prev {
                left: 15px;
                @include gradientBg(to right, black, rgba(black, 0));
            }
    
            &-next {
                right: 15px;
                @include gradientBg(to left, black, rgba(black, 0));
            }
    
            &.active {
                @include easeOut;
                opacity: 0.6;
    
                display: flex;
    
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}


.featured {
    &-header {
        .custom-carousel {
            &-arrow {
                margin-left: 0.2rem;
                padding: 0.2rem;
                background: grey;
                opacity: 0.3;

                img {
                    width: 20px;
                    display: inline-block;
                }

                &-prev {
                    img {
                        transform: rotateY(180deg);
                    }
                }

                &.active {
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &-carousel {
        --carousel-height: 200px;
        &.custom-carousel-wrapper {
            li {
                width: 33.333%;

                a {
                    width: 100%;
                }

                img {
                    @include imgCover(100%, var(--carousel-height));
                }
            }
        }

        &-item {
            &-info {
                color: white;
                position: absolute;
                background: RGB(var(--card-color-4));
                bottom: 0;
                width: 100%;
                padding: 0.3rem 1rem;

                font-size: 0.9rem;
                font-weight: 600;
            }
        }

        .custom-carousel-item {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.loading-animation {
    position: absolute;
    bottom: 10px;
    width: 100%;

    display: none;

    &-wrapper {
        display: flex;
        flex-flow: row nowrap;
    }

    &-spacer,
    &-symbol {
        flex-grow: 0;
        position: relative;
    }

    &-spacer {
        @include easeOut;
        animation: loading 2s;
        animation-iteration-count: infinite;

        @keyframes loading {
            0% {
                flex-grow: 0;
            }

            50% {
                flex-grow: 1;
            }

            100% {
                flex-grow: 0;
            }
        }
    }

    &-symbol {
        width: 30px;
        height: 30px;

        @include gradientBg(to top right, blue, magenta);

    }

    &.active {
        display: block;
    }
}

.gallery-sidenav {
    &-trending {
        margin-left: 0.3rem;
        a {
            margin: 0.2rem 0;
            text-decoration: none;
            color: white;
        }
    }

    hr {
        background-color: white;
        opacity: 0.5;
        margin: 2rem 0;
    }
}

.gallery-media-icons {
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
        @include easeOut;
        font-size: 1.5rem;
        margin: 0 0.3rem;

        &.fab {
            &:hover {
                color: white;
            }
        }
    }
}

.item-container {
    &-options {
        a {
            color: white;
            text-decoration: none;
        }

        hr {
            background: white;
            opacity: 0.5;
        }
    }
}

.item-sidenav-user {
    display: none;

    img {
        border-radius: 10%;
    }

    &.active {
        display: block;
    }
}

.upload {
    &-wrapper {
        background: linear-gradient(to bottom right, RGB(var(--card-color-2)), RGB(var(--card-color-3)));
        background-size: 200% 200%;
    
        padding: 3rem 1rem;
    
        width: 100%;
    }

    &-options {
        margin-top: 2rem;

        &-area {
            padding: 3rem;
            background: rgba(white, 0.1);
            
            i {
                font-size: 3.5rem;
                margin-right: 2rem;
            }

            &-dashed {
                border: 2px dashed rgba($color: white, $alpha: 0.5);
            }
        }
    }
}

@import '_search';

@import '_mobile';